<pre class="site-main">
<pre class="site-title" data-text="{{_GLOBAL.site.name}}"></pre>
<pre class="site-description" data-text="{{_GLOBAL.site.description}}"></pre>
<pre class="site-separator">------------------------------------------------------------------------------------------------------------------------------------------</pre>
<pre class="site-menu"><a href="{{_BLOG.route.baseurl}}">Home</a><a href="?recent">Recent</a><a href="?search">Search</a><a href="?admin">Admin</a></pre>
<pre class="site-separator">------------------------------------------------------------------------------------------------------------------------------------------</pre>
<pre class="site-body" id="site-body">
<pre class="post-detail">{{_ENV.detail()}}</pre>
<pre class="post-title">{{_ENV.title()}}</pre>
<pre class="post-content">{{_ENV.content()}}</pre>

</pre>
<pre class="site-separator">------------------------------------------------------------------------------------------------------------------------------------------</pre>
<pre class="site-code">
[url.query]
{{_ENV.query()}}

[loaded.files]
{{_ENV.test(_BLOG.virtual.list(),5)}}
</pre>
<pre class="site-separator">------------------------------------------------------------------------------------------------------------------------------------------</pre>
<pre class="site-menu"><a id="site-reload" href="?reload">Reload</a></pre>
<pre class="site-separator">------------------------------------------------------------------------------------------------------------------------------------------</pre>
<pre class="site-copyright"></pre>
</pre>
